@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html {
  background-image: url(./images/fourDino.gif);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 100%; 
}


body {
  width: 100%;
  margin: 0;
  color: #000000;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 30px;
  margin-top: auto;
}

.header {
  text-align: center;
  text-transform: uppercase;
  padding-top: 4px;
}

form {
  width: 60vw; 
  max-width: 500px; 
  min-width: 300px; 
  margin: 0 auto; 
  padding-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  display: block; 
  width: 80%; 
  margin: 10px auto; 
  border-radius: 5px;
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 12px;
}

label {
  font-weight: bold;
}

input::placeholder {
  font-family: 'Luckiest Guy', sans-serif;
  font-size: 14px;
  color: #888888;
}

#mainBox {
  background: #93dc5c;
  padding: 20px;
  height: 350px;
  width: 300px;
  border-radius: 10px;
  border: 10px solid black;
  position: relative; /* Use relative positioning */
  top: -100px; /* Move the box up by 100px */
  margin-bottom: 20px; /* Provide some space at the bottom, adjust as needed */
  z-index: 10; /* Ensure it's above other elements */
  transform: translateY(-100px);
}


/******************TABS**********************/

.tab-container {
  margin: 20px auto;
  overflow: hidden;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  border: 2px solid black;
}

.tab {
  width: 50%;
  float: left;
  border: 1px solid black;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 18px;
  font-family: 'Luckiest Guy', sans-serif;
  box-sizing: border-box;
  text-align: center;
  background-color: #fbbc04; /* Default color for inactive tabs */
  /* ... other styles ... */
}


/* Remove border-left for adjacent tabs */
.tab + .tab {
  border-left: none;
}

.tab.active {
  background-color: #fdd663;
  font-weight: bold;
}

.tab-content {
  display: none;
  padding: 20px;
  background: #93dc5c;
  border: 1px solid black;
  animation: fadeEffect 1s;
  min-height: 200px; /* Adjust as needed */
  clear: both; /* Clear the float */
}

.tab-content.active {
  display: block;
}

/******************TABS**********************/